*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  flex-direction: column;
  background-color: darkgray;
}
.title-game{
  text-align: center;
  font-size: 40px;
  color: #272727;
}
.menu{
  display: flex;
  justify-content: space-around;
  
}
.type-game__select{
  font-size: 20px;
  background-color: aqua;
  border: 2px solid #272727;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider:before{
  background-color: rgb(0, 0, 0);
}

input:checked + .slider {
  background-color: #ffffff;
  border: 1px solid #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.cell{
  border: 3px solid #000;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: aqua;
  position: absolute;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.feild{
  width: 400px;
  height: 400px;
  border: 1px solid #000;
  border-radius: 10px;
  position: relative;
  margin: 30px auto;
}